<html>
<head><title>Calendar</title></head>
<body>

<h2>My Calendar</h2>

<form action="/cal/" method="POST">
  Month: <input type="text" name="month"><br/>
  Year: <input type="text" name="year"><br/>
  <input type="submit">
</form>

</body>
</html>
